body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.mainBody {
  border-style: double;
  border-color: rgb(141, 141, 141);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 50vh;
  min-width: 80vw;
  max-width: 90vw;
}

.logo {
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}

.logo:visited {
  color: black;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  min-width: 15%;
  max-width: 15%;
  border-style: double;
  border-color: rgb(212, 212, 212);
  
}

.productTitle {
  border-style: hidden;
  background-color: rgb(220,220,220);
  margin: 3px;
  border-color: black;
  padding: 0.2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.productPrice {

  border-style: hidden;
  background-color: rgb(150,150,150);
  margin: 3px;
  border-color: black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.navBar {
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-style: hidden;
  /* border-color: rgb(118, 118, 118); */
  background-color: #bcbcbc;
  min-height: 7vh;
  min-width: 70vw;
  max-width: 90vw;
  margin: 30px;
  margin-top: 5px;
}

.navBar p {
  font-size: larger;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 17vh;
  margin-bottom: 3px;
}

.image img {
  border: #6E6D70;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.basketItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-style: double;
  border-radius: 10px;
  min-width: 70vw;
  align-items: center;
  margin: 5px;

}

.basketRemoveButton {
  margin: 20px;
  max-width: 100px;
  max-height: 50px;
}

.basketButton {
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}

.basketButton:visited {
  color: black;
}

.productButton {
  padding: 6px 14px;
  border-radius: 6px;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  touch-action: manipulation;
  margin-bottom: 3px;
}