body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95em;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.mainBody {
  border-style: double;
  border-color: rgb(141, 141, 141);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 50vh;
  min-width: 80vw;
  max-width: 90vw;
}

.logo {
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}

.logo:visited {
  color: black;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  min-width: 15%;
  max-width: 15%;
  border-style: double;
  border-color: rgb(212, 212, 212);
}

.productTitle {
  border-style: hidden;
  background-color: #dcdcdc;
  margin: 3px;
  border-color: black;
  padding: 0.2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.productPrice {
  border-style: hidden;
  background-color: #969696;
  margin: 3px;
  border-color: black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.navBar {
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-style: hidden;
  /* border-color: rgb(118, 118, 118); */
  background-color: #bcbcbc;
  min-height: 7vh;
  min-width: 70vw;
  max-width: 90vw;
  margin: 30px;
  margin-top: 5px;
}

.navBar p {
  font-size: larger;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 17vh;
  margin-bottom: 3px;
}

.image img {
  border: #6e6d70;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.basketItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-style: double;
  border-radius: 10px;
  min-width: 70vw;
  align-items: center;
  margin: 5px;
}

.basketRemoveButton {
  margin: 20px;
  max-width: 100px;
  max-height: 50px;
}

.basketButton {
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}

.basketButton:visited {
  color: black;
}

.productButton {
  border: transparent;
  width: fit-content;
  background-color: #9b8274b8;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  font-size: large;
}

.productDetailContainer {
  display: flex;
  border: double;
  border-radius: 10px;
  min-width: 70vw;
  flex-direction: row;
  justify-content: space-between;
  background-color: #56555a;
}

.detailProduct {
  display: flex;
  border: double;
  border-radius: 10px;
  max-width: 70vw;
  justify-content: space-between;
  align-items: center;
}

.detailProduct .image {
  min-width: 30vw;
  min-height: 30vh;
}

.detailProduct .productButton {
  margin: 10px;
}

.productTitleClick {
  text-decoration: none;
  color: black;
}

.productTitleClick:visited {
  text-decoration: none;
  color: black;
}

.productDescription {
  display: flex;
  /* margin: 20px; */
}

.detailPageProduct {
  display: flex;
  border: solid;
  flex-wrap: wrap;
  width: 70vw;
}

.detailPageProductImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.detailPageProductDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5px;
}

.atCartButton {
  background-color: green;
  border: transparent;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  font-size: large;
}

.detailPageAddToCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Ekranın üzerinde sabit konumda olacak */
  top: 0;
  left: 0;
  width: 100%; /* Ekranın genişliği kadar */
  height: 100%; /* Ekranın yüksekliği kadar */
  background-color: rgb(0 0 0 / 19%); /* Arka plan rengi ve opaklık */
  z-index: 9999; /* Görüntülenme önceliği */
}

.loginWrapper {
  transform: scale(1.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Ekranın üzerinde sabit konumda olacak */
  top: 0;
  left: 0;
  width: 100%; /* Ekranın genişliği kadar */
  height: 100%; /* Ekranın yüksekliği kadar */
  background-color: rgb(0 0 0 / 19%); /* Arka plan rengi ve opaklık */
  z-index: 9999; /* Görüntülenme önceliği */
}

.registerWrapper {
  transform: scale(1.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerPageInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.loginPageInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.registerPageInput h5 {
  font-size: 20px;
  font-weight: bold;
  color: #27527f; /* Metin rengi */
  margin: 10px 0; /* Boşluklar */
}

.loginPageInput h5 {
  font-size: 20px;
  font-weight: bold;
  color: #27527f; /* Metin rengi */
  margin: 10px 0; /* Boşluklar */
}

.registerPageInputInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

.loginPageInputInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

.registerPageRegisterButton button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff; /* Düğme rengi (örnek: mavi) */
  color: #fff; /* Metin rengi (örnek: beyaz) */
  border: none; /* Kenar çizgisi yok */
  border-radius: 5px; /* Kenar köşelerini yuvarlar */
  font-size: 16px;
  cursor: pointer; /* Fare işareti el işareti olur */
  transition: background-color 0.2s; /* Arka plan rengi değişim efekti */
}

.loginPageLoginButton button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff; /* Düğme rengi (örnek: mavi) */
  color: #fff; /* Metin rengi (örnek: beyaz) */
  border: none; /* Kenar çizgisi yok */
  border-radius: 5px; /* Kenar köşelerini yuvarlar */
  font-size: 16px;
  cursor: pointer; /* Fare işareti el işareti olur */
  transition: background-color 0.2s;
}

/* Düğmeye fare hover (üzerine gelme) efekti */
.registerPageRegisterButton button:hover {
  background-color: #0056b3; /* Hover rengi (örnek: daha koyu mavi) */
}

.loginPageLoginButton button:hover {
  background-color: #0056b3;
}

.registerPageHaveAccount {
  color: #27527f;
}

.loginPageHaveAccount {
  color: #27527f;
}

.registerPageHaveAccount:visited {
  color: #27527f;
}

.loginPageHaveAccount:visited {
  color: #27527f;
}

.registerWrapper h1 {
  color: #1a3f65;
}

.loginWrapper h1 {
  color: #1a3f65;
}
