.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.mainBody {
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 50vh;
  min-width: 80vw;
  max-width: 90vw;
}

.logo {
  border-style: solid;
  border-color: black;
}

.productContainer {
  margin: 20px;
  min-width: 130px;
  border-style: solid;
  border-color: black;
}

.productTitle {
  border-style: solid;
  border-color: black;
}

.productPrice {
  border-style: solid;
  border-color: black;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  min-height: 7vh;
  min-width: 70vw;
  max-width: 90vw;
  margin: 30px;
  margin-top: 5px;
}

.image {
  min-width: 50px;
  min-height: 100px;
}
